

<div class="bg-custom p-5">
    <h1>Expiation Data About</h1>

</div>
<div class="row justify-content-center">
    <div class="col-6">
        <p>
            My name is Andrew, and I’m a student at the University of South Australia. I created this project to raise awareness about road safety and provide valuable insights for both the public and decision-makers. By making road crash data and expiation notices more accessible, my goal is to help reduce accidents and save lives by identifying high-risk areas, encouraging safer driving habits, and offering a deeper understanding of traffic offences.

            This project allows users to search for road offences and explore expiation notices issued for various traffic violations. It helps paint a clearer picture of common offences and where they occur, contributing to more informed decisions on improving road safety.

            The project uses two key datasets: **Road Crash Locations in South Australia** and the **Expiation Notice System Data**, both sourced from [Data SA](https://data.sa.gov.au/). These datasets provide a comprehensive view of crash locations and expiations across the state, offering a valuable tool to understand the challenges on our roads. I hope this tool will play a role in making South Australian roads safer for everyone.
        </p>
        <p>
            The original data sets and their explanations can be found on Data SA's Website':
        </p>
        <ul>
            <li>
                <a href="https://data.sa.gov.au/" target="_blank">Data SA</a>
            </li>
            <li>
                <a href="https://data.sa.gov.au/data/dataset/expiation-notice-system-data" target="_blank">Expiation Notice System Data</a>
            </li>
        </ul>
    </div>
</div>