@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-custom p-5">
    <h1>Welcome to Road Safety SA!</h1>

</div>

<div class="row">
    <div class="col-8">
        <p>
            Road safety is a major issue in Australia, with hundreds of lives lost and thousands more affected by injuries from car accidents each year. In comparison to other states, South Australia has seen a significant decline in fatalities and serious injuries related to road crashes over the past 30 years. However, despite these improvements, more than 100 people still die annually, and around a thousand are injured in road crashes in the state.
            <br><br>
            This interactive map presents detailed data on road crash locations across South Australia. By visualizing official crash data, this tool highlights high-risk areas and helps support better planning for safer roads. Use the map to explore real-time crash data, zoom in on specific areas, and gain valuable insights into crash hotspots.
        </p>
    </div>
</div>

<!-- Div to hold the map -->
<div class="row">
    <div class="col-12">
        <h3 class="">Explore Data Crash on the Map </h3>
        <h4 class="">User:Okokanhem0506  </h4>
        <h5 class="">Password: SouthAus24</h5>
        <div id="mapDiv" style="width: 100%; height: 600px;"></div> 
    </div>
</div>

<script src="https://js.arcgis.com/4.30/"></script>
<script>
    require([
        "esri/views/MapView",
        "esri/WebMap",
        "esri/widgets/BasemapGallery",
        "esri/widgets/Expand"
    ], function(MapView, WebMap, BasemapGallery, Expand) {

        // Use your ArcGIS Online WebMap ID
        const webmap = new WebMap({
            portalItem: {
                id: "60342aa3b2774fdcbcca728c583afd98" 
            }
        });

        const view = new MapView({
            container: "mapDiv",  
            map: webmap,
            zoom: 10,  
            center: [138.6007, -34.9285]  
        });

  
        const basemapGallery = new BasemapGallery({
            view: view
        });

        const expand = new Expand({
            view: view,
            content: basemapGallery
        });


        view.ui.add(expand, "top-right");
    });
</script>
